/*------------------------------------*\
  #GENERAL-STYLES
\*------------------------------------*/

:root {
 --footer-color: #333333; 
 --background-color: #F4F3F3;
 --font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--background-color);
  font-family: var(--font-family);
}
html {
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 365px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}





/*------------------------------------*\
  #HEADER-STYLES
\*------------------------------------*/

.header {
  width: 100%;
  position: fixed;
  z-index: 5;
}
.header__content {
  height: 200px;
  padding: 35px 16px;
  box-sizing: border-box;
  margin: 0 auto;
  background: url('http://dl.dropboxusercontent.com/s/t3bqm1sqmxpj0dw/books_header_bg.jpg?raw=1');
}
.header__branding {
  max-width: 530px;
  min-width: 340px;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
}
.logo-white {
  width: 55px;
	height: 55px;
}
.header__messaging {
  margin: 0 0 0 16px;
  flex: 1;
}
.header__title--prefix {
	font-weight: 400;
}
.header__title {
  font-family: 'Roboto Slab', sans-serif;
	font-size: 1.3rem;
	font-weight: 300;
  color: #FFF;
	letter-spacing: 1px;
  margin: 0;
}
.header__sub-title{
  font-weight:bold;
}
.header__subtitle {
  font-size: .8rem;
	color: #798748;
	margin: 4px 0 0 0;	
  font-weight: 400;
}
.search {
  display: flex;
  max-width: 530px;
  min-width: 300px;
  margin: 0 auto 30px;
  box-sizing: border-box;
}
.search__input {
  flex: 1;
  height: 36px;
	padding: 10px;
	background-color: rgba(255, 255, 255, .7);
  border-radius: 2px 0 0 2px;
  border: none;
  color: rgba(0, 0, 0, .87);
  font-size: 16px !important;
  font-family: var(--font-family);
}
.search__input:focus {
  outline: none;
}
.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search__btn {
  text-align: center;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 0 2px 2px 0;
}
.icon-search {
  vertical-align: middle;
}
.search__input::-webkit-input-placeholder {
  color: rgba(84,127,28,.6);
  font-size: 14px;
}
.search__input:-moz-placeholder { 
  color: rgba(84,127,28,.6);
  font-size: 14px;
}
.search__input::-moz-placeholder { 
  color: rgba(84,127,28,.6);
  font-size: 14px;
}
.search__input:-ms-input-placeholder {  
  color:rgba(84,127,28,.6);
  font-size: 14px;
}





/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.nav-bar {
  display: flex;
  background-color: #fff;
  height: 48px;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.nav-bar::-webkit-scrollbar {
  display: none;
}
.site-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  list-style-type: none;
}
.menu-item {
  display: inline-block;
  text-decoration: none;
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 400;
  padding: 0 12px;
  line-height: 48px;
  height: 48px;
  cursor: pointer;
  white-space: nowrap;
}
.menu-item__input {
  position: absolute;
  left: -10000px;
}
#tab--1:checked ~ .site-nav .tab--1,
#tab--2:checked ~ .site-nav .tab--2,
#tab--3:checked ~ .site-nav .tab--3,
#tab--4:checked ~ .site-nav .tab--4,
#tab--5:checked ~ .site-nav .tab--5,
#tab--6:checked ~ .site-nav .tab--6 {
  color: #9dc32b;
}





/*------------------------------------*\
  #MAIN-CONTENT
\*------------------------------------*/

.header__spacer {
  height: 248px;
  margin-bottom: 40px;
}
.main-content {
  padding: 0 24px 24px;
  flex: 1;
}





/*------------------------------------*\
  #CARDS
\*------------------------------------*/

.list-item {
  position: relative;
  height: 380px;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.card {
  display: flex;
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 22px;
}
.product-details {
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
  width: 600px;
  box-sizing: border-box;
}
.card__title {
  flex: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
.author-details {
  display: flex;
  align-items: center;
  padding: 10px 0 23px 0;
  flex: 100%;
  
}
.author-details__author {
   font-size: 13px;
}
.author-details__link {
  font-size: 13px;
  text-decoration: none;
  color: #4083C6;
}
.btn {
  cursor: pointer;
  font-size: 13px;
  border-radius: 2px;
  font-family: var(--font-family);
  white-space: nowrap;
  padding: 0 8px;
}
.btn:focus {
  outline: 0;
}
.btn--follow {
  background-color: #fff;
  border: 1px solid #9dc32b;
  border-radius: 3px;
  color: #9dc32b;
  height: 22px;
  margin: 0 8px;
}
.author-details__published {
  font-size: 13px;
  color: #9e9e9e;
  padding: 0 8px;
}
.author-details__edition {
  font-size: 13px;
  color: #9e9e9e;
  padding: 0 8px;
}
.card__description {
  width: 320px;
  font-size: 13px;
  line-height: 18px;
  padding: 0 24px 0 0;
  color: rgba(0, 0, 0, .87);
  box-sizing: border-box;
}
.card__description__text {
  padding: 0 0 12px;
  margin: 0;
}
.read-more {
  color: #4083C6;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  padding: 10px 0 0;
}






/*------------------------------------*\
  #RATINGS
\*------------------------------------*/

.ratings-aside {
  width: 232px;
  border-left: 1px solid rgba(0, 0, 0, .10);
  padding: 0 0 0 20px;
  box-sizing: border-box;
}
.book-rating {
  margin: 0 0 15px 0;
}
.btn--open-dialog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #4083C6;
}
.btn--open-dialog--top-padding {
  padding-top: 6px;
}
.divider {
  padding: 6px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
}
.rating-heading {
  display: flex;
}
.rating-description,
.rating-percentage {
  font-size: 12px;
}
.rating-value {
  display: inline-block;
  position: relative;
  font-size: 9px;
  right: 14px;
  top: 2px;
  width: 8px;
  text-align: center;
}
.rating-description {
  margin-right: 5px;
}
.rating-percentage {
  margin-left: auto;
}
.rating {
  padding-bottom: 5px;
}
.book-rating--difficulty {
  color: #F6B523;
}
.book-rating--difficulty .rating-value {
  color: #c3920f;
}
.book-rating--comprehensiveness {
  color: #A1D29B;
}
.book-rating--comprehensiveness .rating-value {
  color: #2FAB00;
}
.book-rating--examples {
  color: #50C2DF;
}
.book-rating--examples .rating-value {
  color: #1a8aa4;
}
.progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  bottom: 10px;
  position: relative;
  border-radius: 2px; 
}
.book-rating--difficulty progress[value]::-webkit-progress-value {
  background-color:#F6B523;
}
.book-rating--comprehensiveness progress[value]::-webkit-progress-value {
  background-color:#A1D29B;
}
.book-rating--examples progress[value]::-webkit-progress-value {
  background-color:#50C2DF;
}




/*------------------------------------*\
  #PROCUREMENT-OPTIONS
\*------------------------------------*/

.procurement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
}
.procurement__options {
  display: flex;
  margin: 0;
  padding: 0;
}
.btn--download {
  height: 36px;
  background-color: #8DBC02;
  border: none;
  color: #fff;
  margin: 0 8px 0 0;
  padding: 0 8px;
  min-width: 88px;
}
.btn--download:focus {
  outline: 0;
}
.img--procurement {
  margin: 0 8px;
  cursor: pointer;
}
.btn--bookmark {
  text-align: center;
  cursor: pointer;
}
.btn--bookmark__label {
  display: block;
  font-size: 11px;
  color: rgba(0, 0, 0, .54);
}





/*------------------------------------*\
  #DIALOG
\*------------------------------------*/

.dialog.is-hidden {
  display: none;
}
.dialog {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 0 2px 2px 0;
}
.dialog__card {
  background-color: #fff;
  width: 550px;
  height: 100%;
  border: 3px solid #C4E6E3;
  box-sizing: border-box;
  border-radius: 0 2px 2px 0;
  position: relative;
  left: 30px;
  padding: 24px;
}
.dialog__search-input {
  width: 100%;
  border: 1px solid rgba(0, 0 , 0, .12);
  border-radius: 2px;
  height: 30px;
  margin: 0 0 6px;
  padding-left: 20px;
  font-size: 15px;
  font-family: var(--font-family);
}
.dialog__search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .54);
  font-size: 15px;
  font-family: var(--font-family);
}
.dialog__search-input:-moz-placeholder {
  color: rgba(0, 0, 0, .54);
  font-size: 15px;
}
.dialog__search-input::-moz-placeholder { 
  color: rgba(0, 0, 0, .54);
  font-size: 15px;
}
.dialog__search-input:-ms-input-placeholder {  
  color: rgba(0, 0, 0, .54);
  font-size: 15px;
}
.dialog__search-input:focus {
  outline: none;
}
.dialog__search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.dialog__search-results {
  overflow-y: scroll;
  display: flex;
}
.dialog__search-match {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  margin: 14px 0;
  padding: 2px 0;
}
.dialog__search-match__page {
  font-size: 14px;
  margin: 14px 36px;
  padding: 2px 0;
}
.search-mark {
  display: inline-block;
  background-color: #CFEACC;
  line-height: 20px;
}
.dialog__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 30px;
  position: relative;
}
.dialog__tabs {
  flex: none;
  writing-mode: vertical-lr;
  width: 30px;
  line-height: 30px;
}
.dialog__menu-item {
  display: inline-block;
  text-decoration: none;
  padding: 10px 0;
  font-size: 12px;
  color: #6DAEB8;
  cursor: pointer;
}
.dialog__tabs__input {
  display: none;
}
#dialog-tab--1:checked ~ .dialog__tabs .dialog-tab--1,
#dialog-tab--2:checked ~ .dialog__tabs .dialog-tab--2,
#dialog-tab--3:checked ~ .dialog__tabs .dialog-tab--3 {
  background-color: #C4E6E3;
  border-radius: 0 2px 2px 0;
}
.btn--close {
  margin: 12px 0;
  cursor: pointer;
}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  display: flex;
  align-items: center;
  background-color: var(--footer-color);
  height: 150px;
  padding: 0 24px;
}
.footer__content {
  display: flex;
  flex: none;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  min-width: 900px;
  margin: 0 auto;
}
.footer__branding {
  display: flex;
  align-items: center;
}
.footer__title {
  font-size: 15px;
  color: #676767;
  margin-left: 8px;
}
.footer__sub-title {
  color: #9F9F9F;
}
.copyright {
  font-size: 12px;
  color: #676767;
  margin: 0;
}
.contact-info {
  font-size: 12px;
  color: #9F9F9F;
  margin: 2px 0 0;
}






/*------------------------------------*\
  #IMAGES
\*------------------------------------*/

.header-image {
  background: url('http://dl.dropboxusercontent.com/s/t3bqm1sqmxpj0dw/books_header_bg.jpg?raw=1') repeat;
  width: 100%;
  height: 10rem;
}
.img--book {
  border-radius: 0 2px 2px 0;
}





/*------------------------------------*\
  #MATERIAL-ICONS
\*------------------------------------*/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Rules for using icons as green on white backgrounds */
.material-icons.md-primary { color: #8DBC02; }


