/*------------------------------------*\
  #GENERAL-STYLES
\*------------------------------------*/

:root {
 --footer-color: #333333; 
 --background-color: #F4F3F3;
 --font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--background-color);
  font-family: var(--font-family);
}
html {
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 365px;
  overflow-x: hidden;
}




/*------------------------------------*\
  #HEADER-STYLES
\*------------------------------------*/

.header {
  width: 100%;
  position: fixed;
  z-index: 5;
}
.header__content {
  height: 200px;
  padding: 16px;
  box-sizing: border-box;
  margin: 0 auto;
  background: url('http://dl.dropboxusercontent.com/s/t3bqm1sqmxpj0dw/books_header_bg.jpg?raw=1');
}
.header__branding {
  max-width: 530px;
  min-width: 340px;
  margin: 20px auto 30px;
  display: flex;
  align-items: center;
}
.logo-white {
  width: 55px;
	height: 55px;
}
.header__messaging {
  margin: 0 0 0 16px;
  flex: 1;
}
.header__title--prefix {
	font-weight: 400;
}
.header__title {
  font-family: 'Roboto Slab', sans-serif;
	font-size: 1.3rem;
	font-weight: 300;
  color: #FFF;
	letter-spacing: 1px;
  margin: 0;
}
.header__sub-title{
  font-weight:bold;
}
.header__subtitle {
  font-size: .8rem;
	color: #798748;
	margin: 4px 0 0 0;	
  font-weight: 400;
}
.search {
  display: flex;
  max-width: 530px;
  min-width: 300px;
  margin: 0 auto 30px;
  box-sizing: border-box;
}
.search__input {
  flex: 1;
  height: 36px;
	padding: 10px;
	background-color: rgba(237,237,237,.7);
	border: none;
  border-radius: 2px 0 0 2px;
}
.search__btn {
  text-align: center;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 0 2px 2px 0;
}
.icon-search {
  vertical-align: middle;
}

::-webkit-input-placeholder {
  color: rgba(84,127,28,.6);
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(84,127,28,.6);
  font-size: 14px;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(84,127,28,.6);
  font-size: 14px;
}
:-ms-input-placeholder {  
  color:rgba(84,127,28,.6);
  font-size: 14px;
}




/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.navbar {
  background-color: #fff;
  height: 48px;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.navbar::-webkit-scrollbar {
  display: none;
}
.main-nav{
  display:flex;
  justify-content:center; 
  margin: 0 auto;
  width: 90%;
  padding-left:10rem;
}
.navbar a{
  display:block;
  text-decoration:none;
  color: #9e9e9e;
  font-size: 15px;
  padding:15px;
}
nav a.nav-content-color {
  color:#9dc32b;
}




/*------------------------------------*\
  #MAIN-CONTENT
\*------------------------------------*/

.header__spacer {
  height: 248px;
}
.main-wrapper {
  padding: 24px;
  flex: 1;
}





/*------------------------------------*\
  #CARDS
\*------------------------------------*/

.list-item {
  position: relative;
  height: 420px;
  width: 800px;
  margin: auto;
}
.card {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 24px;
  padding-left:20px;
}
.card h3 {
  font-weight: 400;
  font-size:1.3rem;
  padding-top: 1rem;
}
.procurement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  margin: 0 auto;
}
.procurement__options {
  margin: 0;
  padding: 0;
}
.card-details{
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    padding: 1.2em 0 1em 0;
    font-size: .8em;
}

.card-details > div {
    padding-right: 1.5rem;
}
.card-details a{
  text-decoration:none;
  color:#4C63AB;
}
.card-details > div > span:nth-child(2){
    margin-left: 1em;
}

.card-details > div:not(:nth-child(1)){
    color: #9e9e9e;
}

.button {
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.green-border{
    border-color: #9dc32b;
    color: #9dc32b;
}

.card-text-sections {
    padding: 1rem 0;
    display: flex;
    font-size:.9rem;
    color: #3c3c3c;
    font-weight: 300;

}

.card-text-sections div p {
    padding-bottom: .5rem;
}

.card-text-sections .card-text-sections-first_column {
    width: 40%;
    height: 100%;
    padding-right: 1.5rem;
    margin-top: -1rem;
    border-right: 1px solid #eee;
}

.card-text-sections .card-text-sections-second_column{
    width: 30%;
    padding-left: 1.2rem;
    padding-top: 0.5rem;
    margin-top: -1rem;
}

.card-text-sections-first_column a{
  text-decoration:none;
  color:#4C63AB;
  font-size:1rem;
  font-weight:400;
  padding-top:3rem;
}


.rating-description {
    padding-left: 7px;
    margin-right: 5px;
}

.rating-value {
    position: absolute;
    text-align: center;
    padding: 4px 5px;
    width: 12px;
    font-size: 0.7em;
    bottom: 20px;
    line-height: 1em;
    border-radius: 3px;
}


.easy-to-follow .rating-value {
    background-color:#FCD03F;
    color: #c3920f;
}

.easy-to-follow .rating-value:before {
    border-color: #FCD03F transparent transparent #FCD03F;
}

.easy-to-follow {
    color: #FCD03F;
    position: relative;
    padding: 5px;
}


.comprehensive .rating-value {
    background-color:#ADFC61;
    color: #2FAB00;
}

.comprehensive .rating-value:before {
    border-color: #30AB26 transparent transparent 30AB26;
}

.comprehensive {
    color: #30AB26;
    position: relative;
    padding: 5px;
}


.enough-examples .rating-value {
    background-color: #3CC7FC;
    color: #1a8aa4;
}

.enough-examples .rating-value:before {
    border-color: #3CC7FC transparent transparent #3CC7FC;
}

.enough-examples {
    color: #3CC7FC;
    position: relative;
    padding: 5px;
}

.span-align-right {
    float: right;
    position: absolute;
    right:5px;
}
.arrow-right{
  padding-left:6rem;
  vertical-align: middle;
}
.arrow-right-align{
  padding-left:7.6rem;
  vertical-align: middle;
}

progress[value]{
  -webkit-appearance: none;
  appearance: none;
  width:15rem;
  height:3px;
}
.easy-to-follow progress[value]::-webkit-progress-value {
  background-color:#FCD03F;
}
.comprehensive progress[value]::-webkit-progress-value {
  background-color:#30AB26;
}
.enough-examples progress[value]::-webkit-progress-value {
  background-color:#3CC7FC;
}


/*------------------------------------*\
  #DIALOG
\*------------------------------------*/

.dialog.is-hidden {
  display: none;
}
.dialog {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  /*z-index: 2;*/
}
.card-section-dialog {
  padding-top:2rem;
  padding-bottom: 1rem;
}
.card-section-dialog >p {
  // padding-top: 0.1rem;
  margin-top: -0.3rem;
  border-bottom: 1px solid #ede7e1;
  color:#4C63AB;
  font-weight: 400;
  cursor: pointer;
}
.card-section-dialog > p:nth-child(2){
  margin-top: -0.5rem;
}
.card-section-dialog > p:last-child{
  border-bottom: none;
  margin-top: -0.5rem;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  display: flex;
  align-items: center;
  background-color: var(--footer-color);
  height: 150px;
  padding: 0 24px;
}
.footer__content {
  display: flex;
  flex: none;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  min-width: 800px;
  margin: 0 auto;
}
.footer__branding {
  display: flex;
  align-items: center;
}
.footer__title {
  font-size: 15px;
  color: #676767;
  margin-left: 8px;
}
.footer__sub-title {
  color: #9F9F9F;
}
.footer__contact {
  
}
.copyright {
  font-size: 12px;
  color: #676767;
  margin: 0;
}
.contact-info {
  font-size: 12px;
  color: #9F9F9F;
  margin: 2px 0 0;
}

/*------------------------------------*\
  #IMAGES
\*------------------------------------*/

.header-image {
  background: url('http://dl.dropboxusercontent.com/s/t3bqm1sqmxpj0dw/books_header_bg.jpg?raw=1') repeat;
  width: 100%;
  height: 10rem;
}
.image_book1,.image_book3{
  position:absolute;
  left:83%;
  top:1%;
  margin-top:-0.5%;
  height:420px;
  width:auto;
  bottom:20%;
}
.image_book1 img,.image_book3 img{
  height:420px;
  width:auto;
}

.image_book2{
  position:absolute;
  right:-23.5%;
  top:1%;
  margin-top:-0.5%;
  height:420px;
  width:auto;
  bottom:20%;
}
.image_book2 img{
  height:420px;
  width:323px;
}




/*------------------------------------*\
  #MATERIAL-ICONS
\*------------------------------------*/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Rules for using icons as green on white backgrounds */
.material-icons.md-primary { color: #8DBC02; }


